@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 15px 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
    
    max-height: 90vh; /* Adjusts height to fit within the screen */
    overflow: scroll; /* Allows scrolling */
    
    /* Webkit specific styles to hide the scrollbar */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
}
