<div class="container">
    <h2>Announcements</h2>

    <button mat-mini-fab type="button" class="btn mb-2" (click)="openDialog()"> 
        <i class="bi bi-pencil-square"></i>
      </button>

    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search . . ." #input>
    </mat-form-field>

    <div class="table-container" >
        <section class="announcement-list" >
            <div id="announcementsContainer">
                @for (ann of filteredAnnouncements.length ? filteredAnnouncements : announcements; track ann) {
                <div class="announcement">
                    <div class="announcement-header">
                        <h3>
                            {{ ann.title }}
                        </h3>
                        <span class="date">
                            {{ ann.created_at | date: 'medium' }}
                        </span>
                        <div class="announcement-actions ms-3">
                            <p-toast  position="bottom-right" />
                            <p-button icon="bi bi-pencil" class="me-2 mb-2" (click)="onUpdate(ann)"></p-button>
                            <p-button icon="bi bi-trash3" class="me-2 mb-2" (click)="confirm(ann.id)"
                            styleClass="p-button-danger"></p-button>
                        </div>
                    </div>
                    <p class="announcement-p" [innerHTML]="getSanitizedHtml(ann.announcement)"></p>
                </div>
                }
            </div>
        </section>
    </div>
    <div class="card flex justify-center" >
        <p-toast position="bottom-right" key="br"/>
      </div>
</div>
<p-confirmdialog #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
            <div
                class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
            >
            <i class="bi bi-question-lg"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <p-button label="Delete" (onClick)="onAccept()"  styleClass="p-button-danger w-32"></p-button>
                <p-button label="Cancel" [outlined]="true" (onClick)="onReject()"  styleClass="w-32"></p-button>
            </div>
        </div>
    </ng-template>
  </p-confirmdialog>