<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    <img [width]="180" [height]="40" src="whitetext.png"/>
    <span class="example-spacer"></span>

    <!-- <h1 class="text-light me-2">Welcome glen lozada ! </h1> -->

   <button mat-icon-button class="example-icon me-3" [matMenuTriggerFor]="notificationsMenu" aria-label="Notifications"  aria-haspopup="true">
      <mat-icon matBadgeColor="accent" matBadge="3">notifications</mat-icon>
    </button>

    <mat-menu #notificationsMenu="matMenu">
      <mat-list>
        <mat-list-item>
          <div class="user-list-item mb-2" style="display: flex; align-items: center;">
            <img src="default-profile.png" alt="User" class="rounded-circle me-2" width="30" height="30">
            <div>
              <span class="h6" style="font-weight: bold;">Registration until this day</span><br>
              <figcaption style="font-size: 9px; color: gray;">August 9, 2024</figcaption>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-menu>

  <button mat-icon-button class="example-icon circle-btn ms-2" [matMenuTriggerFor]="profileMenu">
    <img [src]="adminPic ? adminPic: 'default-profile.png'" class="prof-image">
  </button>
  <p class="text-white mt-3 ms-2 d-none d-md-block" *ngIf="user">
    {{user.name}} 
  </p>

  <mat-menu #profileMenu="matMenu">
      <button mat-menu-item [routerLink]="['/user-page/account/']">
          <mat-icon>settings</mat-icon>
          <span>Account Settings</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </button>
  </mat-menu>
  
  <mat-menu #profileMenu="matMenu">
      <button mat-menu-item [routerLink]="['/user-page/account/']">
          <mat-icon>settings</mat-icon>
          <span>Account Settings</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </button>
  </mat-menu>
  
  </mat-toolbar> 
  
  <mat-sidenav-container>
    
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()" autosize>
      
      <app-custom-sidenav [collapsed]="collapsed()"/>
    </mat-sidenav>
  
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  
  </mat-sidenav-container>