<div class="container">
    <h2>Statement of Account Management</h2>

    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search . . ." #input>
    </mat-form-field>

      <form (ngSubmit)="submit()" class="file-upload-form">
        <div class="form-group">
          <label for="file" class="ms-2"><strong>Upload Multiple Files</strong></label>
          <input type="file" id="file" (change)="onFileChange($event)" multiple class="file-input" />
        </div>  
      
        <div *ngIf="selectedFiles.length" class="image-preview-container">
          <h3>Previews:</h3>
          <div class="image-previews">
            <div *ngFor="let file of selectedFiles" class="image-preview">
              <p>{{ file.name }}</p>
            </div>
          </div>
        </div>

        <p-button type="submit" icon="bi bi-upload" label="Upload" class="me-2 mb-2" severity="secondary"></p-button>

      </form>
    

    <div class="table-container">
        <section class="announcement-list">
          <div id="announcementsContainer">
            <div *ngFor="let name of filteredFiles | keyvalue">
              <div class="d-flex">
                <h3>{{ name.value.name }}</h3> <!-- Display the user's name -->
                <button type="button" class="btn ms-1 mb-2 border" (click)="openDialog(name.value.userid, name.value.name)"> 
                  <i class="bi bi-pencil "></i>
                </button>
              </div>
      
              <div *ngIf="name.value.files.length > 0">
                <div *ngFor="let ann of name.value.files" class="announcement">
                  <span class="date mt-3 me-3">{{ ann.time | date: 'medium' }}</span>

                  <div class="announcement-header">
                    <p class="announcement-p mb-3">{{ ann.description }}</p>
                    
                    <p class="announcement-p" [innerHTML]="getSanitizedHtml(ann.file)"></p>
      
                    <div class="announcement-actions ms-3">
                      <p-button icon="bi bi-pencil-square" (click)="onUpdate(ann)"></p-button>
                      <p-button icon="bi bi-trash3" (click)="confirm(ann.id)" styleClass="p-button-danger"></p-button>
                      <!-- <i class="bi bi-pencil ms-3" ></i>
                      <i class="bi bi-trash3 ms-3" ></i> -->
                    </div>
                  </div>
                </div>
              </div>
      
              <p *ngIf="name.value.files.length === 0" class="text-muted">No files available</p>
            </div>
          </div>
        </section>
      </div>
      <div class="card flex justify-center" >
        <p-toast position="bottom-right" key="br"/>
      </div>
</div>
<p-confirmdialog #cd>
  <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
      <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
          <div
              class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
          >
          <i class="bi bi-question-lg"></i>
          </div>
          <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
          <p class="mb-0">{{ message.message }}</p>
          <div class="flex items-center gap-2 mt-6">
              <p-button label="Delete" (onClick)="onAccept()"  styleClass="p-button-danger w-32"></p-button>
              <p-button label="Cancel" [outlined]="true" (onClick)="onReject()"  styleClass="w-32"></p-button>
          </div>
      </div>
  </ng-template>
</p-confirmdialog>