body {
    font-family: 'Lato', sans-serif;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    padding: 20px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Adds shadow */
  }
  th{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  mat-form-field {
    display: flex;
    margin-left: auto; /* Pushes it to the right */
  }
  
  /* ria */


  a {
    display: block;
    color: black;
    text-align: left; /* Align text to the left */
    /* padding: 14px 16px; */
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.a:hover {
    background-color: #efefef;
}

.active-link {
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    
}
button:has(.active-link) {
    background-color: #09a782!important;
}

  
  /* General button styling */
button {
  width: 10%;
  /* mat-fab; */
}

.navlink {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide text on small screens */
@media (max-width: 990px) {
  .navlink {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .navlink span {
    display: none; /* Hide text */
  }

  .navlink i {
    font-size: 1.5em; /* Increase icon size for better visibility */
  }
}

/* Show text on larger screens */
@media (min-width: 990px) {
  .navlink span {
    display: inline-block; /* Show text */
    margin-left: 8px;
  }
}

  
  