<div class="py-10 px-10">
    <form [formGroup]="leavereqform"  (ngSubmit)="onSubmit()">
        <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base/7 font-semibold text-gray-900">Leave Details</h2>
            <p *ngIf="dateError" class="mt-1 text-sm/6 text-red-600">The "From" date cannot be later than the "To" date.</p>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-3">
                    <label for="country" class="block text-sm/6 font-medium text-gray-900">Leave Type</label>
                    <div class="mt-2 grid grid-cols-1">
                      <select id="leavetypeid" formControlName="leavetypeid" class="w-full rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6">
                        <option *ngFor="let type of leaveTypes" [value]="type.id">{{ type.type }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="sm:col-span-3">
                    <label for="country" class="block text-sm/6 font-medium text-gray-900">Department Head</label>
                    <div class="mt-2 grid grid-cols-1">
                      <select id="DHead" formControlName="DHead" class="w-full rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6">
                        <option *ngFor="let dh of depthead" [value]="dh.id">{{ dh.name }}</option>
                      </select>
                    </div>
                  </div>

              <div class="sm:col-span-3">
                <label for="From" class="block text-sm/6 font-medium text-gray-900">From</label>
                  <div class="mt-2">
                    <p-calendar 
                      formControlName="from"
                      [minDate]="minDate"
                      dateFormat="yy-mm-dd"
                      [showIcon]="true"
                      class="w-full"
                    ></p-calendar>
                </div>
              </div>
              
              <div class="sm:col-span-3">
                <label for="To" class="block text-sm/6 font-medium text-gray-900">To</label>
                <div class="mt-2">
                  <p-calendar 
                    formControlName="to"
                    [minDate]="minDate"
                    dateFormat="yy-mm-dd"
                    [showIcon]="true"
                    class="w-full"
                  ></p-calendar>
                </div>
              </div>

              <div class="sm:col-span-6">
                <label for="reason" class="block text-sm/6 font-medium text-gray-900">Reason</label>
                <div class="mt-2">
                  <textarea type="text" name="reason" id="reason" autocomplete="reason" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" formControlName="reason"></textarea>
                </div>
              </div>

            </div>
            <div class="mt-10 flex items-center gap-x-6 justify-end">
                <button type="button" class="text-sm/6 font-semibold text-gray-900" (click)="close()">Cancel</button>
                <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
              </div>
          </div>
      </form>
     
</div>
