<div class="container">
    <div class="banner">
      <div class="text-content text-black">
        <div class="date">{{ currentDate | date: 'EEEE, MMMM d, y' }}</div>
        <h1 class="welcome-message">Welcome back!</h1>
        <p class="subtext">Stay informed, stay engaged, and take charge of your workday. Let’s make today a success!</p>
      </div>
      <div class="illustration">
        <img src="emplo.png" alt="Illustration">
      </div>
    </div>

  <!-- Dashboard Cards Section -->
  <div class="row mt-4">
    <div class="">
      <div class="card mb-4 bg-c-green order-card">
        <p class="m-b-0 text-right ms-1">Account Progress</p>
        <div class="card">
            <p-toast position="bottom-right" />
            <p-progressbar [value]="value" />
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card mb-4 bg-c-red order-card">
        <div class="card-body">
          <i class="bi bi-megaphone card-icon text-black"></i>
          <h2 class="text-right"><span>{{ ann }}</span></h2>
          <p class="m-b-0 text-right ms-1">Announcements</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card mb-4 bg-c-orange order-card">
        <div class="card-body">
          <i class="bi bi-calendar4-event card-icon text-black"></i>
          <h2 class="text-right"><span>{{todayEvents}}</span></h2>
          <P class="m-b-0 text-right ms-1">Todays Events</P>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 ">
      <div class="card mb-4 bg-c-blue order-card">
        <div class="card-body ">
          <i class="bi bi-bar-chart card-icon text-black"></i>
          <h2 class="text-right"><span>{{totalLeaveDays}}</span></h2>
          <p class="m-b-0 text-right ms-1">Total days of leave taken </p>
        </div>
      </div>
    </div>
  </div>
</div>

