<!-- <div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center p-3 p-md-4 p-xl-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-9">
        <div class="card border-light shadow-lg">
          <div class="row g-0">
            <div class="col-12 col-md-6">
              <img class="img-fluid rounded-start w-100 h-100 object-fit-cover hideimage" loading="lazy" src="front.webp"
                alt="" />
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
              <div class="col-12 col-lg-11 col-xl-10">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="row">
                    <div class="col-12">
                      <div class="">
                        <div class="text-center">
                          <div class="image-container">
                            <img class="img-fluid" src="logo.png" alt="Logo">
                        </div>
                          <p class="h1 text-center mt-2" style="color: #000000; font-weight: 700">
                            NLM PORTAL
                          </p>
                        </div>
                      </div>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                      <div class="row gy-3 overflow-hidden">
                        <div class="col-12">
                          <div class="form-floating">
                            <input type="email" class="form-control custom-input" name="email" id="email"
                              placeholder="email@example.com" formControlName="email" required />
                            <label for="email" class="form-label">Email</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-floating">
                            <input type="password" class="form-control custom-input" name="password" id="password"
                              placeholder="Password" formControlName="password" required />
                            <label for="password" class="form-label">Password</label>
  
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="d-grid">
                            <button type="submit" value="submit" class="text-center btn btn-primary custom-btn">
                              Login
                            </button>
                          </div>
                          <h6 class="mt-3 fw-lighter">
                            Dont have account yet? 
                          <a class="link-underline-primary" style="cursor: pointer;" (click)="openDialog()"> Register here</a></h6>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="toast-container" >
      <p-toast position="top-right" class="ms-3"></p-toast>
    </div>
  </div> -->


  <div class="bg-green-900 absolute top-0 left-0 bg-gradient-to-b from-gray-900 via-gray-900 to-green-800 bottom-0 h-full w-full overflow-hidden"></div>

  <div class="relative min-h-screen flex flex-col sm:flex-row sm:justify-center sm:items-center justify-center bg-transparent rounded-3xl shadow-xl p-4 sm:p-0">
      <div class="flex-col flex self-center lg:px-14 sm:max-w-4xl xl:max-w-md z-10">
          <div class="self-start hidden lg:flex flex-col text-gray-300">
            
              <h1 class="my-3 font-semibold text-4xl">Northern Luzon Mission Portal</h1>
              <p class="pr-3 text-sm opacity-75">Welcome to the Northern Luzon Mission Portal, your gateway to seamless access, important updates. Please sign in to continue managing your account, staying informed, and making the most of our platform.</p>
          </div>
      </div>
  
      <div class="flex justify-center self-center z-10 w-full sm:w-auto max-w-md ">
          <div class="p-6 sm:p-12 bg-orange-50 mx-auto rounded-3xl w-full sm:w-96 px-6 ">
            <div class="mb-7 flex items-center space-x-2">
              <img class="h-20" src="logo.png" alt="Logo">
              <div class="flex flex-col mx-1">
                  <h2 class="font-semibold text-lg text-gray-800">NLM Portal</h2>
                  <h3 class="font-semibold text-4xl text-gray-700">Log In</h3>
              </div>
          </div>
          
              <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-6">
                  <div>
                      <input class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" type="text" placeholder="Email" formControlName="email">
                  </div>
                  <div class="relative">
                      <input placeholder="Password" type="password" class="text-sm px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-purple-400"
                      formControlName="password">
                  </div>
                  <div class="flex items-center justify-between">
                      <div class="text-sm mx-0">
                        <p class="text-gray-400">Don't have an account?
                          <a class="link-underline-primary" style="cursor: pointer;" (click)="openDialog()"> Register here</a>
                        </p>
                          <!-- <a href="#" class="text-purple-700 hover:text-purple-600">Forgot your password?</a> -->
                      </div>
                  </div>
                  <div>
                      <button type="submit" class="w-full flex justify-center bg-blue-400 hover:bg-blue-500 text-gray-100 p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500">
                          Sign in
                      </button>
                  </div>
              </form>
          </div>
      </div>
      <div class="toast-container" >
        <p-toast position="top-right" class="ms-3"></p-toast>
      </div>
  </div>
  
  <svg class="absolute bottom-0 left-0 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
      <path fill="#fff" fill-opacity="1" d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
  </svg>
  