.custom-input {
    background-color: #d5f2ffa8;
    color: #333; 
    border-color: white;
  }

  .custom-btn {
    background-color: #001c30;
    border-color: #ffffff;
  }

  .custom-btn:hover {
    background-color: #001c30; 
   
  }.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 200px;
    height: 200px;
}
@media (max-width: 415px) {
  .hideimage {
    display: none;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures full height */
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Allow content to define height */
    width: 100%;
    min-width: unset; /* Reset min-width to prevent layout shifts */
    min-height: unset; /* Reset min-height */
  }
  
}
@media (max-width: 750px) {
  .hideimage {
    display: none;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%; /* Ensures full height */
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Allow content to define height */
    width: 100%;
    min-width: unset; /* Reset min-width to prevent layout shifts */
    min-height: unset; /* Reset min-height */
  }
}
