<section class="announcement-form">
    <header>Update Statement of Account</header>
    <form class="mt-3" [formGroup]="reqform" (ngSubmit)="update()" id="reqform">
    
        <div class="form-group">
          <label >File:</label>
          <editor
            apiKey="pvzhrqp0z0j938n50tduwjbic2v0krqxkj91yk2b98jsrtq5"
            [init]="editorConfig"
            [(ngModel)]="editorContent"
            formControlName="file"
          ></editor>
        </div>
        <button class="mb-4" type="submit" >
           Post
        </button>
    </form>
    
</section>