<div class="container">
    <header>Edit Employee Details</header>
    <form [formGroup]="empformupdate" (ngSubmit)="update()">
        <div class="form first">
            <div class="details personal">
                <div class="fields">
                    <div class="input-field">
                        <label>Role</label>
                        <select formControlName="department" class="form-control" required>
                            @for (department of departments; track $index) {
                            <option  
                            [value]="department.name">{{ department.name }}</option>
                            }
                        </select>
                    </div>

                    <!-- <div class="input-field">
                        <label>Position</label>
                      
                        <select formControlName="position" class="form-control" required>
                            @for (position of positions; track $index) {
                            <option [value]="position.name">{{ position.name }}</option>
                            }
                        </select>
                        
                    </div> -->

                    <div class="input-field">
                        <label>Designation</label>
                        <select formControlName="designation" class="form-control" required>
                            @for (designation of designations; track $index) {
                            <option [value]="designation.name">{{ designation.name }}</option>
                            }
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Position</label>
                          <mat-select formControlName="position" multiple class="form-control" style="height: 43px; border-color: #9ca3af; font-size: 14px; color:#6b7280" >
                            @for (position of positions; track $index) {
                              <mat-option [value]="position.name" style="font-size: 14px; color:#6b7280">{{ position.name }}</mat-option>
                            }
                          </mat-select>
                      </div>

                    <div class="input-field">
                        <label>Work Status</label>
                        <select formControlName="work_status" class="form-control" required>
                            @for (ws of workstat; track $index) {
                            <option [value]="ws.name">{{ ws.name }}</option>
                            }
                        </select>
                    </div>
                    
                    <div class="input-field">
                        <label>Category</label>
                        <select formControlName="category" class="form-control" required>
                            @for (cat of category; track $index) {
                            <option [value]="cat.name">{{ cat.name }}</option>
                            }
                        </select>
                    </div>
                    <div class="input-field">

                    </div>
                    <div class="input-field4">
                        <label>Email</label>
                        <input type="email" formControlName="email" class="form-control" 
                         >
                    </div>
                    <p-toast  position="bottom-right" />
                    <div class="input-field4">
                        <label>New Password</label>
                        <input required type="password" formControlName="password" class="form-control">
                    </div>

                </div>
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="sumbit">
                <span class="btnText">Update</span>
                <i class="uil uil-navigator"></i>
            </button>
        </div>
    </form>
    
</div>