:host * {
  transition: all 500ms ease-in-out;
  overflow-x: hidden;
  overflow-y: hidden;
}
app-menu-item  {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

app-menu-item .collapsed {
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
}

.sidenav-header {
  padding-top: 24px;
  text-align: center;

  > img {
      border-radius: 100%;
      object-fit: cover;
      margin-bottom: 10px;
  }

  .header-text {
      height: 4rem;
      > h2 {
          margin: 0;
          font-size: 1rem;
          line-height: 1.5rem;
      }

      > p {
          margin: 0;
          font-size: 0.8rem;
      }
  }
}

.hide-header-text{
  opacity: 0;
  height: 0px !important;
}