<div class="container">
    <header>Accept Employee </header>
    <form [formGroup]="acceptform" (ngSubmit)="accept()">
        <div class="form first">
            <div class="details personal">
                <div class="fields">
                    <div class="input-field">
                        <label>Department</label>
                        <select formControlName="department" class="form-control" required>
                            @for (department of departments; track $index) {
                            <option  
                            [value]="department.name">{{ department.name }}</option>
                            }
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Position</label>
                      
                        <select formControlName="position" class="form-control" required>
                            @for (position of positions; track $index) {
                            <option [value]="position.name">{{ position.name }}</option>
                            }
                        </select>
                        
                    </div>

                    <div class="input-field">
                        <label>Designation</label>
                        <select formControlName="designation" class="form-control" required>
                            @for (designation of designations; track $index) {
                            <option [value]="designation.name">{{ designation.name }}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="sumbit">
                <span class="btnText">Accept</span>
                <i class="uil uil-navigator"></i>
            </button>
        </div>
    </form>
</div>