<section class="announcement-form">
    <header>Service Records: {{data.name}}</header>
    <form class="mt-3" [formGroup]="reqform" (ngSubmit)="postannouncement()" id="reqForm">
        <input type="text" formControlName="userid" name="userid" hidden>
        <div class="form-group">
          <label for="announcement">File:</label>
          <editor
            id="announcement"
            name="announcement"
            apiKey="np9by9kh5ihzdix7h7zk0d91p2u4wcnwi10vq6rqu2a26g71"
            [init]="editorConfig"
            [(ngModel)]="editorContent"
            formControlName="file"
          ></editor>
        </div>
        <button class="mb-4" type="submit">
           Post
        </button>
    </form>
    
</section>