<div class="container">
    <h2>Personal Files</h2>

    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search . . ." #input>
    </mat-form-field>

    <div class="table-container">
        <section class="announcement-list">
          <div id="announcementsContainer">
            <div *ngFor="let name of filteredFiles | keyvalue">
              <div class="d-flex">
                <h3>{{ name.value.name }}</h3> <!-- Display the user's name -->
              </div>
      
              <div *ngIf="name.value.files.length > 0">
                <div *ngFor="let ann of name.value.files" class="announcement">
                  <span class="date">{{ ann.time | date: 'medium' }}</span>

                  <div class="announcement-header">
                    <p class="announcement-d mb-3"><strong>{{ ann.description }}</strong></p>
                    <p class="announcement-p" [innerHTML]="getSanitizedHtml(ann.file)"></p>
      
                    <div class="announcement-actions ms-3">
                    </div>
                  </div>
                </div>
              </div>
      
              <p *ngIf="name.value.files.length === 0" class="text-muted">No files available</p>
            </div>
          </div>
        </section>
      </div>
</div>
