/* Hide scrollbar globally */
* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge */
}

/* Ensure the container hides its scrollbar but remains scrollable */
.container {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto; /* Enable scrolling */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Ensure the table hides its scrollbar but remains scrollable */
.table-responsive {
  max-height: 100%; /* Adjust as needed */
  overflow: auto; /* Enable scrolling */
}

.table-responsive::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.mat-table {
  display: block;
  overflow: auto; /* Enable scrolling */
}

.mat-table::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Other styles */
.rounded-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  padding: 20px 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

th {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

mat-form-field {
  display: flex;
  margin-left: auto;
}

i {
  cursor: pointer;
}