<div class="py-10 px-10">
    <header class="text-2xl font-semibold mb-6">Registration</header>
    <form [formGroup]="userform" (ngSubmit)="registers()">
        <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold text-gray-900">Personal Details</h2>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-900">Full Name</label>
                    <div class="mt-2">
                        <input type="text" formControlName="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm border border-black-900" required placeholder="Enter your name" oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');">
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-900">Date of Birth</label>
                    <div class="mt-2">
                        <input type="date" formControlName="birthdate" class="border border-black-900 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm" required placeholder="Enter your birthdate">
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-900">Place of Birth</label>
                    <div class="mt-2">
                        <input type="text" formControlName="birthplace" class="border border-black-900 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm" required placeholder="Enter your birthplace">
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-900">Address</label>
                    <div class="mt-2">
                        <input type="text" formControlName="address" class="border border-black-900 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm" required placeholder="Enter your address">
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-900">Status</label>
                    <div class="mt-2">
                        <select formControlName="status" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm border border-black-900" required>
                            <option disabled selected>Select status</option>
                            <option>Single</option>
                            <option>Married</option>
                        </select>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-900">Gender</label>
                    <div class="mt-2">
                        <select formControlName="gender" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm border border-black-900" required>
                            <option disabled selected>Select gender</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-900">Mobile Number</label>
                    <div class="mt-2">
                        <input type="text" formControlName="phone_number" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm border border-black-900" required placeholder="Enter your phone number">
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-900">Email</label>
                    <div class="mt-2">
                        <input type="email" formControlName="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm border border-black-900" required placeholder="Enter your email">
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-900">Password</label>
                    <div class="mt-2">
                        <input type="password" formControlName="password" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-gray-300 focus:outline-indigo-600 sm:text-sm border border-black-900" required placeholder="Enter your password">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10 flex items-center gap-x-6 justify-end">
            <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register</button>
        </div>
    </form>
</div>
