.container {
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 15px auto;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    /* Ensure scrolling works properly */
    overflow-y: hidden; /* Enables vertical scrolling only */
    
    /* Prevent horizontal scrolling */
    overflow-x: hidden;
    
    /* Smooth scrolling */
    -webkit-overflow-scrolling: touch;
}


/* Make sure the form content is not causing overflow */
.py-10 {
    max-height: calc(95vh - 60px); /* Adjust based on your layout */
    overflow-y: auto;
}
